.Login {
  height: 100%;
  width: 80%;
  margin: 30% auto;
  padding: 30px;
  text-align: center;
}

.Login h2 {
  margin-bottom: 15px;
  padding: 15px 5px;
  font-size: 2.2rem;
  letter-spacing: .15rem;
}

.Login .Emphasis {
  color: red;
}

.Login p {
  margin-bottom: 20px;
  padding: 15px 5px;
  font-size: 1.15rem;
}

.Login p a {
  color: red;
  font-weight: 700;
}
