.Login {
  border: 1px solid red;
  height: 100%;
  width: 80%;
  margin: 30% auto;
  padding: 30px;
  text-align: center;
}

.Login h2 {
  margin-bottom: 15px;
  padding: 15px 5px;
  font-size: 2.2rem;
  letter-spacing: .15rem;
}

.Login .Emphasis {
  color: red;
}

.Login p {
  margin-bottom: 20px;
  padding: 15px 5px;
  font-size: 1.15rem;
}

.Login p a {
  color: green;
  font-weight: 700;
}

form {
  border: 1px solid red;
  margin-bottom: 10px;
  padding: 12px;
}

form * {
  font-family: inherit;
}

form input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  font-size: 1.05rem;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
}

form input:focus {
  outline: none;
  border-color: orange;
  transition: .8s;
}

form button {
  padding: 10px;
  margin-top: 10px;
  width: 60%;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: blue;
  color: #fafafa;
}